{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}

<section class="container overflow-hidden py-5">
    <div class="row gx-5 gx-sm-3 gx-lg-5 gy-lg-5 gy-3 pb-3">

        {% for article in articles %}

            <div class="col-xl-3 col-md-4 col-sm-6 overflow-hidden">

                <a href="/{{ article.url }}" class="article-list card border-0 text-white shadow-sm overflow-hidden m-sm-0">

                    {% if article.og_image %}
                        <img class="card-img" src="/images/{{ article.og_image }}" alt="Card image">
                    {% else %}
                        <img class="card-img" src="/images/{{ THEME__OPEN_GRAPH_IMAGE }}" alt="Card image">
                    {% endif %}

                    <div class="article-list-vertical card-img-overlay d-flex align-items-end ">
                        <div class="text-left text-light">
                            <span class="badge badge-xs rounded-pill bg-light text-dark mb-lg-3 px-lg-4 ">
                                {{ article.category }}
                            </span>

                            <p class="card-text fs-4">
                                {{ article.title }}
                            </p>
                        </div>
                    </div>

                </a>

            </div>

        {% else %}
            No posts yet!
        {% endfor %}

    </div>
</section>


{% endblock %}